.Hero {
  width:100%;
  height:100%;
  position:relative;
  z-index:10;
  overflow: hidden;
  background-color: #c0c0c0 no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 480px) {
  .Hero {
      background-image: url('/img/hero/lettering_landscape_small.jpg');
  }
}

h1.knockout-text-one {
 color: white;
 margin: 0;
 padding: 0;
 background-size: cover;
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
 font-size: 28vw;
 line-height: 1em;
 text-align: center;
 font-family: 'Oswald', sans-serif;
}
 
.knockout-text-one {
  background-image: url('/img/background/animate.gif');
}